# {{ ansible_managed }}
[Resolve]
DNS={{ resolved_preferred_dns }}
{% for domain in resolved_search_domains %}
Domains={{ domain }}
{% endfor %}
DNSSEC={{ resolved_dnssec | default('no', true) }}
LLMNR={{ resolved_llmnr | default('resolve', true) }}
MulticastDNS={{ resolved_multicastdns | default('resolve', true) }}
